@keyframes rotate360 {
	from {
	  transform: rotate(0);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
  .effect:hover {
	color: red; 
	cursor: pointer; 
	animation: rotate360 1s linear infinite; 
  }